.headerContainer {
  border: 1px solid red;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
}

.container {
  border: 1px solid red;
  display: flex;
  padding: 0.5 rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.navContainer {
  position: relative;
  float: right;
  display: flex;
  padding: 0.5rem;
  width: 35rem;
  border-radius: 8px;
  background-color: #ff3979;
  // background-color: #280442;
  box-shadow: 10px 5px 5px black;
  margin-top: 0.5rem;
}

.navLink {
  color: white;
  font-weight: 600;
  // color: #e6e0e0;
  padding: auto;
  margin: auto;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
