@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); // Roboto Google Font

$background-color: #ffff00;
$font-family: 'Roboto', 'sans-serif';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: $background-color;
  font-family: $font-family;
}

nav {
  // background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  padding: 25px;

  img {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

// div {
//   background-color: red;
// }

button {
  background-color: #fec501;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: $background-color 0.3s ease;

  &:hover {
    background-color: #ecb500;
  }
}

footer {
  background-color: white;
  color: #333;
  font-size: 0.75em;
  font-weight: 300;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
