.imageContainer {
  background-color: black; // placeholder
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  img {
    border-radius: 8px;
  }
}

.moreProductsLink {
  background-color: lightcoral; // placeholder
  text-align: center;
  padding-bottom: 50px;
  a {
    background-color: darkcyan; // placeholder
    text-decoration: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 15px 25px;
    cursor: pointer;

    &:hover {
      background-color: yellowgreen; // placeholder
    }
  }
}

.community {
  text-align: center;
  padding: 50px;
  color: #333;

  h2 {
    padding-bottom: 30px;
  }
}
