.thankYouPage {
  background-color: red; // placeholder
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.thankYouContainer {
  background-color: cadetblue; // placeholder
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;

  h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 30px;
  }
}

.homeButton {
  background-color: #fec501;
  text-decoration: none;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ecb500;
  }
}
