.column {
  float: left;
  width: 50%;
  padding: 10px;
  background-color: #333;
  height: 500px;
}

.columnRight {
  composes: column;
  background-color: red;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

// .column {
//   float: left;
//   width: 50%;
//   padding: 10px;
//   height: 300px; /* Should be removed. Only for demonstration */
// }

// /* Clear floats after the columns */
// .row:after {
//   content: "";
//   display: table;
//   clear: both;
// }
