.productPage {
  box-sizing: border-box;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  // background-color: #333;
  height: 500px;
  margin-top: 2rem;
}

.columnRight {
  composes: column;
  padding-top: 10rem;
  line-height: 1.5;
  text-align: left;
  // background-color: red;
}

.row {
  // background-color: blue;
  display: flex;
  text-align: center;
}

.priceTag {
  font-size: 1.5em;
  color: #333;
}
